.sentText {
  text-align: justify;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 10px 0;
  .nameSentMessage {
    margin-right: 10px;
    color: #898989;
  }
  .messageBox {
    background-color: var(--secondaryColor);
    padding: 10px;
    border-radius: 10px;
    color: var(--textColor);
  }
}

.messageCurrentUser {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: justify;
  margin: 10px 0;
  .messageWelcome {
    padding: 10px;
    background-color: var(--textColor);
    border-radius: 10px;
  }
  .userName {
    margin-left: 10px;
    color: #898989;
  }
}